# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

*.log

# As of this writing I'm generating this file via a Firebase CLI call via an npm script.
# I don't want it in source control because I have multiple Firebase projects and don't
#  want a pull-request to "promote" the wrong config (i.e., I don't want the config for the
#  staging project to make its way to the production branch via a pull request).
firebase-config.*