rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      //allow read, write: if false;

      match /users/{userId} {
        // TODO: At some point we may need to enhance this to only allow reading
        //        users in the same game, or if the authenticated user is an admin.
        allow read: if isLoggedIn(); 
        allow write: if request.auth.uid == userId;
      }

      function isLoggedIn() {
        return request.auth != null;
      }

    }
  }
}